<launch>

  <node name="image_raw_yolo" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/Multisense/left/image_rect_color"/>
    <param name="autosize" value="false" />
  </node>

	<!-- Makes yolo detection node -->
	<node type="yolo_v2_ros_node" name="yolo" pkg="yolo_v2_ros" respawn="true" output="screen">

		<param name="basedir" value="$(find yolo_v2_ros)" />
		<param name="model_cfg" value="/cfg/yolo.cfg" />
		<param name="weightfile" value="/weights/yolo.weights" />
		<param name="datafile" value="/cfg/coco.data" />

		<param name="visualize_detections" value="true" />

		<param name="threshold" value="0.40" />
		<param name="publish_image" value="True" />
		<param name="topic_name" value="/Multisense/left/image_rect_color" />
	</node>
	
  <node name="image_yolo" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/yolo/imageYolo/"/>
    <param name="autosize" value="false" />
  </node>

</launch>

